/**
 * Author: Dominik Serve
 *
 */
 
 body {
	position: relative;
 }


#menu-toggle {
	display: inline;
	margin-bottom: 1em;
}

@media(min-width:768px) {
	#menu-toggle {
		display: none;
	}
}

.console {
	overflow: auto;
	height: 250px;
	background-color: black;
	color: white;
}

.error {
	color: red;
}

.stdout {
	color: green;
}

.spacer {
	padding-top: 1em;
}